* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

.flex {
    display: flex;
}


.align-center {
    align-items: center;
}

.centered {
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.wrap {
    flex-wrap: wrap;
}

.margin-right {
    margin-right: 1rem;
}

.big-margin-right {
    margin-right: 3rem;
}


/* Stile Generale */

body {
    font-family: "Montserrat", sans-serif;
    color: white;
}

ul {
    list-style-type: none;
}

main {
    background-color: #141922;
    height: calc(100vh - 90px);
    overflow-y: scroll;
    margin-left: 250px;
}

nav.footer-nav-bar {
    height: 90px;
    width: 100%;
    background-color: #282828;
    position: relative;
    z-index: 2;
}

.aside-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 0 1.5rem;
    width: 250px;
    background-color: #000000;
    height: calc(100vh - 90px);
    font-size: .8rem;
    font-weight: 700;
    position: fixed;
}


.container {
    margin: 0 2rem 0 1rem;
}

.footer-nav-bar>div {
    margin: 0 1rem;
}

/* Aside Style */


aside {
    color: #717171;
}

aside nav {
    margin-bottom: 2rem;
}

aside nav img.logo {
    width: 130px;
    margin-bottom: 1rem;
}

aside nav img {
    width: 1.8rem;
    margin-right: .5rem;
}

aside ul>li {
    margin-bottom: .6rem;
}

aside h2 {
    text-transform: uppercase;
    font-size: .9rem;
    margin-bottom: 1rem;
    color: white;
}

aside button {
    font-family: "Montserrat", sans-serif;
    background-color: transparent;
    color: #717171;
    border: none;
    font-size: .9rem;
    font-weight: bold;
    margin-bottom: 1rem;
    width: 100%;
}

aside button>div {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #d2d2d2;
    margin-right: .5rem;
    color: black;
    font-size: 2.5rem;
    font-weight: 500;
}

.playlist li {
    margin-bottom: 1rem;
}

aside>div>div>p>i {
    margin-right: .6rem;
}

.info {
    margin-top: auto;
}

.info figure {
    display: inline-block;
    width: 1.5rem;
    line-height: 1;
    margin-right: .5rem;
}

.info figure>img {
    background-color: #717171;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.info hr {
    margin: .8rem 0;
    border-bottom: 1px solid #717171;
}

.account span {
    color: white;
}

/* Main Content Style */

.adv {
    height: 93px;
    background-color: #080b12;
    align-items: center;
    justify-content: right;
}

.adv button {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    background-color: transparent;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 30px;
    border: 2px solid white;
    margin-right: 1rem;
}

main nav ul {
    margin: 2rem auto;
}

main nav li {
    margin: 1rem;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    color: #717171;
}

main article {
    width: calc((100% / 6) - 2rem);
    text-align: center;
    margin: 2rem 0;
}


main article>img {
    width: 100%;
}

main article>h3 {
    margin: .5rem 0;
}

main article>p {
    font-size: .8rem;
    font-weight: bold;
    color: #717171;
}

/* Footer Style */

.footer-nav-bar>div {
    width: 100%;
}

.footer-nav-bar>div>* {
    width: calc(100% / 3);
}

.footer-nav-bar figure {
    width: 8%;
    margin-right: 1rem;
}

.footer-nav-bar img {
    width: 100%;
}

.footer-nav-bar h3 {
    font-size: 0.8rem;
}

.footer-nav-bar p {
    font-size: 0.7rem;
    font-weight: bold;
    color: #717171;
}

.footer-nav-bar article i {
    color: #717171;
    font-size: .8rem;
}

.music-player {
    width: 50%;
    justify-self: center;
}

.music-player ul {
    margin-bottom: .6rem;
}

.footer-nav-bar li {
    margin: 0 .8rem;
}

.music-player li:nth-child(3) {
    font-size: 2rem;
}

.music-player .play-bar>span {
    font-size: .7rem;
    font-weight: bold;
    color: #717171;
}

.music-player .play-bar>div {
    width: 20vw;
    height: .2rem;
    background-color: #717171;
    border-radius: 15px;
    margin: 0 2rem;
}

.music-player .play-bar>div>div {
    width: 20%;
    height: .2rem;
    background-color: #d2d2d2;
    border-radius: 15px;
}

.option {
    justify-content: flex-end;
}

.option i {
    font-size: .7rem;
}

.option .play-bar {
    width: 8vw;
    height: .2rem;
    background-color: #717171;
    border-radius: 15px;
    margin: 0 1rem;
}

.option .play-bar>div {
    width: 20%;
    height: .2rem;
    background-color: #d2d2d2;
    border-radius: 15px;
}

/* Media queries */

@media screen and (max-width: 1200px) {

    main article {
        width: calc((100% / 6) - .5rem);
    }
}

@media screen and (max-width: 768px) {
    main nav ul {
        flex-wrap: wrap;

    }

    .recently-played {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1rem;
    }

    main article {
        width: calc((100% / 4) - 1rem);
    }
}