* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile Generale */

body {
    font-family: "Montserrat", sans-serif;
    color: #a7a7a7;
    font-weight: 600;
    background-color: black;
    font-size: .9rem;
}

.huge-container {
    margin: 1rem;
    margin-bottom: 0;
}

header {
    width: 280px;
    height: 112px;
    background-color: #121212;
    border-radius: 15px;
}

aside {
    width: 280px;
    background-color: #121212;
    border-radius: 15px;
}

.col>aside {
    height: calc(100vh - 1rem - 120px - 112px);
}

main {
    width: calc(100vw - 560px - 1rem);
    background-color: #121212;
    border-radius: 15px;
    overflow-y: scroll;
}

footer {

    width: 100%;
    height: 100px;
    background-color: greenyellow;

}

/* Utilities */


.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.centered {
    justify-content: center;
    align-items: center;
}

.align-center {
    align-items: center
}

.gap {
    gap: 1rem;
}

.wrap {
    flex-wrap: wrap;
}

/* <///////////////////////> */
/* Header Style */

header>div {
    padding: 1rem;
}

header ul {
    list-style-type: none;
}

header li img {
    height: 1.7rem;
}

/* <///////////////////////> */
/* Aside LEFT Style */

.col>aside {
    padding: 1rem;
}

.library-bar {
    position: fixed;
    left: 2rem;
    right: calc(100% - 280px);
}

.library-bar>div {
    width: 100%;
    margin-bottom: 1rem;
}

.library-bar img {
    height: 1.7rem;
}

.library-area {
    padding-top: 5rem;
}

.library-area img{
    height: 1.7rem;
}



