* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */


.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.centered {
    justify-content: center;
    align-items: center;
}

.jus-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center
}

.align-end {
    align-items: flex-end;
}

.gap {
    gap: 1rem;
}

.wrap {
    flex-wrap: wrap;
}

.rotate {
    transform: rotate(45deg);
}

.green {
    color: #1ed760;
}

.bg-white {
    background-color: white;
    color: black;
}

.bg-black {
    background-color: black;
    color: white;
}

/* <///////////////////////> */
/* Stile Generale */

body {
    font-family: "Montserrat", sans-serif;
    color: #a7a7a7;
    font-weight: 600;
    background-color: black;
    font-size: .9rem;
}

.huge-container {
    margin: .5rem;
    gap: .5rem;
}

header {
    width: 350px;
    height: 112px;
    background-color: #121212;
    border-radius: 15px;
}

aside {
    width: 330px;
    background-color: #121212;
    border-radius: 15px;
    overflow-y: scroll;
    position: relative;
    z-index: 1;
    height: calc(100vh - 105px);
}

.col {
    gap: .5rem;
}

.col>aside {
    width: 350px;
    height: calc(100vh - 1rem - 100px - 110px)
}


main {
    width: calc(100vw - 560px - 1rem);
    background-color: #121212;
    border-radius: 15px;
    overflow-y: scroll;
    height: calc(100vh - 105px);
}

footer {
    width: 100%;
    height: 89px;
    background-color: black;
    position: relative;
    z-index: 4;
}

ul {
    list-style-type: none;
}

/* <///////////////////////> */
/* Header Style */

header>div {
    padding: 1rem;
}

header ul {
    list-style-type: none;
}

header li img {
    height: 1.7rem;
}

/* <///////////////////////> */
/* Aside LEFT Style */

.library-container {
    position: fixed;
    border-radius: 20px 20px 0 0;
    padding: 1rem 1rem 0 1rem;
    background-color: #121212;
    z-index: 1;
    width: 350px;
}

.library-bar>div {
    width: 100%;
    margin-bottom: 1rem;
}

.library-bar img {
    height: 1.7rem;
}

.library-area {
    margin: 7rem 1rem 1rem 1rem;
}


.library-area img {
    height: 1.7rem;
}

.library-res {
    padding: 0 1rem 1rem 1rem;
}

.library-res figure {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
}

.library-res figure>img {
    width: 100%;
    height: 100%;
}

.library-res h3 {
    font-size: .9rem;
    color: white;
    margin-bottom: .2rem;
}

.library-res p {
    font-size: .8rem;
}

.library-res li {
    margin-bottom: 1rem;
}

/* <///////////////////////> */
/* Main Style */

.bg-gradient {
    background-image: linear-gradient(to bottom, rgba(90, 90, 90, 0.37), rgba(20, 20, 20, 0.795));
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
}

main .button-area {
    align-self: flex-end;
    margin-bottom: 3rem;
    padding-top: 1rem;
}

.album-cover {
    width: 15rem;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
    min-width: 7rem;
}

.album-cover>img {
    width: 100%;
}

.title {
    flex-shrink: 6;
}

.title h3 {
    color: white;
    font-size: 4.9vw;
}

.artist>figure {
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.artist>figure>img {
    width: 100%;
}

.artist p {
    font-size: .8rem;
}

main>nav {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

main>nav li {
    font-size: 2rem;
    margin-right: 2rem;
}

.fa-circle-play {
    font-size: 4rem;
}

main>nav li:last-child {
    font-size: .9rem;
    margin-left: auto;
}

.title-list {
    padding-top: 2.5rem;
    padding-left: 3.5rem;
}

.title-list>section,
.title-list>section>h4 {
    font-weight: 400;
}

.copyright {
    margin-left: 2.5rem;
    font-size: .6rem;
    margin-bottom: 2rem;
}

.copyright p:first-child {
    font-size: .8rem;
}

/* <///////////////////////> */
/* Stile Tabella */

table {
    width: 92%;
    text-align: center;
    border-collapse: collapse;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

table th {
    font-weight: 400;
}

table tr:first-child th {
    padding-bottom: .5rem;
    border-bottom: 1px solid #a7a7a750;
}

table tr td {
    padding-top: 1.5rem;
}

table tr th:nth-child(3) {
    text-align: right;
    padding-right: 2.5rem;
}

table tr th:nth-child(2),
table tr td:nth-child(2) {
    text-align: left;
    padding-left: 1rem;
}

table tr td:nth-child(3) {
    text-align: right;
    padding-right: 2rem;
}

table tr td:nth-child(3)::before {
    content: "\f058";
    font: var(--fa-font-solid);
    color: #1ed760;
    font-size: 1rem;
}

table h5 {
    font-size: .9rem;
    color: white;
    margin-bottom: .3rem;
}

table p {
    font-size: .8rem;
}

table tr:nth-child(5) td:nth-child(1),
table tr:nth-child(5) td:nth-child(2) h5 {
    color: #1ed760;
}

/* <///////////////////////> */
/* Aside RIGHT Style */

.side-header {
    padding: 1rem;
}

.side-header section {
    width: 100%;
}

.side-header section h3 {
    font-size: 1.3rem;
    color: white;
}

.side-header button {
    background-color: transparent;
}

.side-container {
    margin: .5rem;
}

.side-container article {
    padding: .5rem;
    margin-bottom: .5rem;
}

.side-container article figure {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 10px;
}

.side-container article section {
    width: 100%;
}

.side-container article figure img {
    width: 100%;
}

.side-container article section h5 {
    color: white;
    font-size: 1.2rem;
}

.side-container article section p {
    font-size: .8rem;
}

.side-container article section {
    position: relative;
}

.side-container article section i {
    position: absolute;
    bottom: 33%;
    left: 93%;
}

.artist-info {
    width: 100%;
    height: 400px;
    background-image: url("https://i.scdn.co/image/ab6761670000ecd431e22cbfb2e06cfbf2e05063");
    background-color: #242424;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
}



.artist-info p:first-child {
    padding: 1rem;
    color: white;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.266), rgba(255, 255, 255, 0));
}

.artist-info section{
    padding-top: 9rem;
    padding-left: 1rem;
    color: white;
}


/* <///////////////////////> */
/* Footer */

footer>nav {
    width: 98%;
}

footer>nav>article,
footer>nav>.option {
    width: 20%;
}

footer>nav>.player {
    width: 30%;
}


footer article figure {
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 5px;
    overflow: hidden;
    flex-shrink: 0;
}

footer article figure img {
    width: 100%;
}

footer h5 {
    color: white;
    font-size: .9rem;
}

footer p {
    font-size: .7rem;
}

footer article::after {
    content: "\f058";
    font: var(--fa-font-solid);
    color: #1ed760;
    margin-right: 1rem;
    font-size: 1rem;
}

footer .player ul {
    font-size: 1.1rem;
    color: white;
}

footer .player li:nth-child(3) {
    font-size: 2rem;
}

footer .play-bar {
    font-size: .7rem;
    font-weight: 400;
}

footer .play-bar>div {
    width: 25rem;
    height: 3px;
    background-color: #a7a7a771;
    border-radius: 20px;
    margin: 0 1rem;
}

footer .play-bar>div>div {
    width: 15%;
    height: 3px;
    background-color: white;
    border-radius: 20px;
}

footer .option ul li:first-child i {
    padding: .2rem;
    border: 1px solid #a7a7a7;
    border-radius: 3px;
    font-size: .5rem;
}

footer .volume>div {
    width: 7rem;
    height: 3px;
    background-color: #a7a7a771;
    border-radius: 20px;
}

footer .volume>div>div {
    width: 40%;
    height: 3px;
    background-color: white;
    border-radius: 20px;
}

/* <///////////////////////> */
/* Button Style */

button {
    font-family: "Montserrat", sans-serif;
    font-size: .8rem;
    font-weight: 700;
    border: none;
    background-color: #242424;
    color: #a7a7a7;
    border-radius: 20px;
    padding: .5rem .7rem;
}

/* <///////////////////////> */
/* <///////////////////////> */
/* <///////////////////////> */
/* Media Queries */

@media screen and (max-width: 992px) {
    aside.no-show {
        display: none;
    }

    main {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {



    .title h3 {
        color: white;
        font-size: 5vw;
    }
}

@media screen and (max-width: 560px) {

    .col .no-show {
        display: none;
    }

    .col>aside li>section {
        display: none;
    }

    aside,
    header,
    .library-container,
    .col>aside {
        width: 80px;
    }

    header>div {
        justify-content: center;
    }

    .library-bar>div>div:first-child {
        padding-left: .75rem;
    }

    .library-bar>div>div:last-child {
        padding-left: .2rem;
    }

    footer>nav {
        width: 95%;
    }
}